.teams__container {
    max-height: 200px;
    overflow-y: auto;
    margin: 10px;
}

.team__container {
    padding: 5px;
}

.team__container > li {
    padding: 10px;
    border: 1px solid lightgray;
    margin: 5px;
    max-width: 300px;
}
